<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li><a href="/about/">About Malscan</a></li>
          <li><a href="/contribute/">Contributing</a></li>
          <li><a href="/releases/">Releases</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <ul class="contact-list">
          <li><a href="/contact/">Questions / Feedback</a></li>
          <li><a href="https://github.com/jgrancell/malscan/issues" target="blank">Bugs / Issues</a></li>
          <li><a href="/rss/">Signature DB Feed</a></li>
          <li><a href="/contact/">Contact Us</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
            <a href="https://github.com/{{ site.github_username }}">
              <img src="/images/github.png">
            </a>
          {% endif %}

          {% if site.twitter_username %}

            <a href="https://twitter.com/{{ site.twitter_username }}">
              <span class="icon  icon--twitter">
                <img src="/images/twitter.png">
              </span>
            </a>
          {% endif %}
        </ul>
      </div>

    </div>

  </div>

</footer>
